@mixin flex-center{
	display:flex;
	align-items: center;
	justify-content: center;
}

body{
	@include flex-center;
}

#container{
	@include flex-center;
	width: 80vw;
	height: 100vh;
	flex-wrap:wrap;
	flex-direction: column;
}

.input_field{
	flex-grow: 0;
}

.list_container{
	flex-grow: 1;

}

li {
	@include flex-center;
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20vw;
	height: 10vh;
	border: 1px solid;
	transition: background .5s;
	float:left;
	margin: 2px 2px 2px 2px;
	&:hover{
		background:red;
	}

}
